C:\Users\Valentina\Desktop\EGO-API\EGO Cars\myenv
C:\\Users\\Valentina\\Desktop\\EGO-API\\EGO Cars\\ego\\cars_api\\migrations\\__pycache__
EGO Cars/myenv/
C:\\Users\\Valentina\\Desktop\\EGO-API\\EGO Cars\\myenv
C:\\Users\\Valentina\\Desktop\\EGO-API\\EGO Cars\\ego\\cars_api\\__pycache__\\